body {
  padding: 0;
  margin: 0;
}

.show-content {
  width: 100%;
  height: 500px;
  background-image: url(../image/2.5D/banbj.jpeg);
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
}

.banner {
  position: absolute;
  top: 15%;
  right: 15%;

  /* 开启3d空间 */
  transform-style: preserve-3d;
}

.banner-background {
  width: 100%;
  height: 100%;
}

.people {
  position: absolute;
  bottom: 18%;
  right: 12%;
}

.tuMing {
  position: absolute;
  bottom: 27%;
  right: 15%;

  /* 动画 */
  animation: screen-flicker ease .7s infinite;
}

.ray-left {
  position: absolute;
  bottom: 27%;
  right: 32%;

  /* 动画 */
  animation: ray-left-translate linear 1.5s infinite;
}

.ray-right {
  position: absolute;
  bottom: 37%;
  right: 39%;

  /* 动画 */
  animation: ray-right-translate linear 1.5s infinite;
}

.conveyor {
  position: absolute;
  bottom: 39%;
  right: 43%;

  /* 动画 */
  animation: conveyor-translate linear 2s infinite;
}

.data-background {
  position: absolute;
  top: 0;
  right: 16%;

  /* 动画 */
  animation: data-background-translate linear 1s infinite;
}

.char-erp {
  position: absolute;
  top: 27%;
  right: 18%;

  /* 动画 */
  animation: char-erp-translate linear 3s infinite;
}
.char-crm {
  position: absolute;
  top: 19%;
  right: 21%;

  /* 动画 */
  animation: char-crm-translate linear 2.5s infinite;
}
.char-oa {
  position: absolute;
  top: 14%;
  right: 17%;

  /* 动画 */
  animation: char-oa-translate linear 2s infinite;
}

.aperture-top {
  position: absolute;
  top: 25%;
  right: 15%;

  /* 动画 */
  animation: aperture-translate-top linear 1.5s infinite;
}

.aperture-bottom {
  position: absolute;
  top: 25%;
  right: 15%;

  /* 动画 */
  animation: aperture-translate-bottom linear 1.5s infinite;
}

.recovery-mark {
  position: absolute;
  top: 27%;
  left: 25%;

  /* 动画 */
  animation: recovery-mark-translate linear 2s infinite;
}

.block-A {
  position: absolute;
  top: 38%;
  left: 28%;

  /* 动画 */
  animation: block-A-translate linear 1.6s infinite;
}

.block-B {
  position: absolute;
  top: 31%;
  left: 17%;

  /* 动画 */
  animation: block-B-translate linear 2s infinite;
}

.block-C {
  position: absolute;
  top: 36%;
  left: 42%;

  /* 动画 */
  animation: block-C-translate linear 1.2s infinite;
}

.block-D {
  position: absolute;
  top: 18%;
  left: 36%;

  /* 动画 */
  animation: block-D-translate linear 3s infinite;
}

.block-E {
  position: absolute;
  top: 18%;
  left: 22%;

  /* 动画 */
  animation: block-E-translate linear 1s infinite;
}

.block-F {
  position: absolute;
  top: 10%;
  left: 32%;

  /* 动画 */
  animation: block-F-translate linear 1.5s infinite;
}

/* 定义帧动画 */
/* 屏幕数据闪烁动画 */
@keyframes screen-flicker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .4;
  }

  0% {
    opacity: 1;
  }
}

@keyframes ray-left-translate {
  0% {
    transform: translate3d(0,0,0);
  }

  100% {
    transform: translate3d(-48px, -27px, 0);
  }
}

@keyframes ray-right-translate {
  0% {
    transform: translate3d(0,0,0);
  }

  100% {
    transform: translate3d(48px, 26px, 0);
  }
}

@keyframes conveyor-translate {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  90% {
    transform: translate3d(48px, 26px, 0);
  }

  100% {
    transform: translate3d(48px, 26px, 0);
  }
}

@keyframes data-background-translate {
  0%{
    transform: translate3d(0,0,0);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, -80px, 0);
    opacity: 0;
  }
}

@keyframes char-erp-translate {
  0% {
    transform: translate3d(0, 0, 0);
  }

  10% {
    transform: translate3d(0, 4px, 0);
  }

  30% {
    transform: translate3d(0, -4px, 0);
  }

  50% {
    transform: translate3d(0, 4px, 0);
  }

  70% {
    transform: translate3d(0, -4px, 0);
  }

  80% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}


@keyframes char-crm-translate {
  0% {
    transform: translate3d(0, 0, 0);
  }

  10% {
    transform: translate3d(0, -5px, 0);
  }

  30% {
    transform: translate3d(0, 5px, 0);
  }

  50% {
    transform: translate3d(0, -5px, 0);
  }

  70% {
    transform: translate3d(0, 5px, 0);
  }

  80% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes char-oa-translate {
  0% {
    transform: translate3d(0, 0, 0);
  }

  10% {
    transform: translate3d(0, -3px, 0);
  }

  30% {
    transform: translate3d(0, 3px, 0);
  }

  50% {
    transform: translate3d(0, -3px, 0);
  }

  70% {
    transform: translate3d(0, 3px, 0);
  }

  80% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes aperture-translate-top {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate3d(0, -100px, 0);
    opacity: 0;
  }
}

@keyframes aperture-translate-bottom {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }

  25% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate3d(0, -50px, 0);
    opacity: 0;
  }
}

@keyframes recovery-mark-translate {
  0% {
   transform: translate3d(0, 0, 0); 
  }
  
  50% {
    transform: translate3d(0, -20px, 0);
  }
  
  100% {
    transform: translate3d(0, 0, 0); 
  }
}

/* 方块A动画 */
@keyframes block-A-translate {
  0% {
    transform: translate3d(0, 0, 0);
  }

  40% {
    opacity: 1;
  }

  100% {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
}

/* 方块B动画 */
@keyframes block-B-translate {
  0% {
    transform: translate3d(0, 0, 0);
  }

  40% {
    opacity: 1;
  }

  100% {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
}

/* 方块C动画 */
@keyframes block-C-translate {
  0% {
    transform: translate3d(0, 0, 0);
  }

  40% {
    opacity: 1;
  }

  80% {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
}

/* 方块D动画 */
@keyframes block-D-translate {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  30% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}

/* 方块E动画 */
@keyframes block-E-translate {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  100% {
    transform: translate3d(0, -50px, 0);
    opacity: 0;
  }
}

/* 方块F动画 */
@keyframes block-F-translate {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  100% {
    transform: translate3d(0, -50px, 0);
    opacity: 0;
  }
}
